$base-color: #ad53f9;

@font-face {
  font-family: yofont;
  src: url("/tideShoes/images/iconfont/iconfont.woff") format("woff"), url("/tideShoes/images/iconfont/iconfont.ttf") format("truetype");
}

@font-face {
  font-family: yofont;
  src: url("/tideShoes/images/iconfont/iconfont-menu.woff") format("woff"), url("/tideShoes/images/iconfont/iconfont-menu.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/tideShoes/images/iconfont/iconfont-back.woff") format("woff"), url("/tideShoes/images/iconfont/iconfont-back.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/tideShoes/images/iconfont/iconfont-nav.woff") format("woff"), url("/tideShoes/images/iconfont/iconfont-nav.ttf") format("truetype");
}